
<div class="container-fluid" style="padding-right:0px;padding-left: 0px; ">
    <h1 style="margin-left: 20px; margin-top: 20px; position: absolute;color: #ffffff">公共卫生事件处理流程</h1>
    
    <ul id="mytabs" class="nav nav-tabs" style="font-size: 15px;height: 80px;padding-top: 35px;padding-right: 5px;background-color: #337ab7">

        <li class="navbar-right" style="margin-right:5px">

            <a id="drop_info" class="navbar-brand" style="height:43px" data-toggle="dropdown">
          <span style="font-size: 25px;color: #ffffff" class="glyphicon glyphicon-user"></span>
        </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop_info" style="min-width:220px">
                <li role="presentation">
                    <h4 style="margin-left:20px"><strong>个人信息</strong></h4>
                </li>
                <li role="presentation" class="divider"></li>
                <div style="padding-top:10px;padding-bottom: 15px">
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>用户名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>角色：</strong></span>{{Role}}
                    </li>
                </div>
                <li role="presentation" class="divider"></li>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-sm" style="margin: 5px" ng-click="logout()">注销登录</button>
                </div>
               
            </ul>
        </li>
    </ul>

</div>
 <div  style="margin-top:50px;" class="col-lg-8 col-lg-offset-2">
    <div class = "row">
         <div class="form-group input-lg">
                     <label class="col-sm-2 control-label">预警等级：</label>
                        <div class="col-sm-2">
                            <select class="form-control input-lg" id="" ng-model="level" ng-change="changelv()">                          
                            <option value="1">蓝</option>
                            <option value="2">黄</option>
                            <option value="3">橙</option>
                            <option value="4">红</option>
                        </select>
                        </div>

                              
        </div>
    </div> 
 </div>
 <div  style="margin-top:50px;" class="col-lg-10 col-lg-offset-1">

     <div class = "row" style="margin-top:60px">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">手足口病</h3>
  </div>
 <div class="panel-body"  style="height:300px;">
<div id="fishBone01">
  </div>
</div>
</div>
</div>


<div class = "row" style="margin-top:60px">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">流感</h3>
  </div>
  <div class="panel-body"  style="height:300px;">
    <div id="fishBone02">
  </div>
</div>
</div>
</div>


<div class = "row" style="margin-top:60px">
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">脑卒中</h3>
  </div>
 <div class="panel-body" style="height:300px;">
      <div id="fishBone03">
 </div>
</div>
 </div>
</div>
</div>

 <script>
 //手足口病_蓝色预警
data_h4 = [{
    "等级": "县级",
    "部门": "医疗保健机构",
    "基本措施": ["医学观察", "卫生知识普及"]
}, {
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": ["流行病学调查", "疫情信息报告"],
    "可选措施": "临时隔离"
}, {
    "等级": "县级",
    "部门": "卫生防疫机构",
    "基本措施": "医学观察"
}, {
    "等级": "县级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "县级",
    "部门": "政府",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["卫生知识普及", "流行病学调查", "疫情信息报告"]
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": ["卫生知识普及", "流行病学调查", "疫情信息报告"],
    "可选措施": "临时隔离"
}];

//手足口病_黄色预警
data_h3 = [{
    "等级": "县级",
    "部门": "医疗保健机构",
    "基本措施": "医学观察",
    "可选措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告", "隔离治疗"],
    "可选措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生防疫机构",
    "基本措施": ["医学观察", "隔离治疗"]
}, {
    "等级": "县级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "政府",
    "基本措施": "疫情信息报告",
    "可选措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["流行病学调查", "疫情信息报告", "隔离治疗"],
    "可选措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告"],
    "可选措施": "卫生知识普及"
}];

//手足口病_橙色预警
data_h2 = [{
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": ["医学观察", "临时隔离", "流行病学调查", "疫情信息报告", "隔离治疗"],
    "可选措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生防疫机构",
    "基本措施": ["医学观察", "隔离治疗"]
}, {
    "等级": "市级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["流行病学调查", "疫情信息报告", "卫生知识普及", "隔离治疗"],
    "可选措施": ["交通卫生检疫", "停业", "停工"]
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告", "卫生知识普及"],
    "可选措施": "交通卫生检疫"
}, {
    "等级": "省级",
    "部门": "政府",
    "基本措施": ["疫情信息报告", "卫生知识普及"],
    "可选措施": ["停业", "停工", "疫区封锁"]
}, {
    "等级": "国家级",
    "部门": "国务院",
    "基本措施": "疫情信息报告",
    "可选措施": "疫区封锁"
}];

//手足口病_红色预警
data_h1 = [{
    "等级": "省级",
    "部门": "医疗保健机构",
    "基本措施": ["卫生知识普及", "强制隔离治疗", "疫情信息报告", "隔离治疗"]
}, {
    "等级": "省级",
    "部门": "卫生防疫机构",
    "基本措施": ["强制隔离治疗", "疫情信息报告", "隔离治疗"]
}, {
    "等级": "省级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "可选措施": ["停业", "停工", "流动人口管理"]
}, {
    "等级": "省级",
    "部门": "卫生行政部门",
    "基本措施": ["卫生知识普及", "强制隔离治疗", "限制或者停止人群聚集活动", "隔离治疗"],
    "可选措施": "交通卫生检疫"
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "基本措施": ["卫生知识普及", "疫情信息报告"],
    "可选措施": "交通卫生检疫"
}, {
    "等级": "市级",
    "部门": "政府",
    "可选措施": ["停业", "停工", "流动人口管理"]
}, {
    "等级": "省级",
    "部门": "政府",
    "基本措施": ["卫生知识普及", "疫情信息报告", "限制或者停止人群聚集活动"]
}, {
    "等级": "省级",
    "部门": "公安部门",
    "基本措施": "强制隔离治疗"
}, {
    "等级": "国家级",
    "部门": "国务院",
    "基本措施": "疫情信息报告"
}];

//流感_蓝色预警
data_f4 = [{
    "等级": "县级",
    "部门": "医疗保健机构",
    "基本措施": "医学观察"
}, {
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": "流行病学调查",
    "可选措施": "临时隔离"
}, {
    "等级": "县级",
    "部门": "卫生防疫机构",
    "基本措施": "医学观察"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": "流行病学调查"
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": "流行病学调查",
    "可选措施": "临时隔离"
}];

//流感_黄色预警
data_f3 = [{
    "等级": "县级",
    "部门": "医疗保健机构",
    "基本措施": "医学观察",
}, {
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告", "隔离治疗"],
}, {
    "等级": "市级",
    "部门": "卫生防疫机构",
    "基本措施": ["医学观察", "隔离治疗"]
}, {
    "等级": "市级",
    "部门": "政府",
    "基本措施": "疫情信息报告",
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["流行病学调查", "疫情信息报告", "隔离治疗"],
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告"],
}];

//流感_橙色预警
data_f2 = [{
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施": ["医学观察", "临时隔离", "流行病学调查", "疫情信息报告", "隔离治疗"]
}, {
    "等级": "市级",
    "部门": "卫生防疫机构",
    "基本措施": ["医学观察", "隔离治疗"]
}, {
    "等级": "市级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["流行病学调查", "疫情信息报告", "隔离治疗"],
    "可选措施": ["交通卫生检疫", "停业", "停工"]
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "基本措施": ["临时隔离", "流行病学调查", "疫情信息报告"],
    "可选措施": "交通卫生检疫"
}, {
    "等级": "省级",
    "部门": "政府",
    "基本措施": "疫情信息报告",
    "可选措施": ["停业", "停工", "疫区封锁"]
}, {
    "等级": "国家级",
    "部门": "国务院",
    "基本措施": "疫情信息报告",
    "可选措施": "疫区封锁"
}];

//流感_红色预警
data_f1 = [{
    "等级": "省级",
    "部门": "医疗保健机构",
    "基本措施": ["强制隔离治疗", "隔离治疗"],
    "可选措施": "疫情信息报告"
}, {
    "等级": "省级",
    "部门": "卫生防疫机构",
    "基本措施": ["强制隔离治疗", "隔离治疗"]
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "可选措施": ["停业", "停工", "流动人口管理"]
}, {
    "等级": "省级",
    "部门": "卫生行政部门",
    "基本措施": ["强制隔离治疗", "隔离治疗"],
    "可选措施": ["交通卫生检疫","疫情信息报告"]
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "可选措施": ["交通卫生检疫", "疫情信息报告"]
}, {
    "等级": "市级",
    "部门": "政府",
    "可选措施": ["停业", "停工", "流动人口管理"]
}, {
    "等级": "省级",
    "部门": "政府",
    "可选措施": "疫情信息报告"
}, {
    "等级": "省级",
    "部门": "公安部门",
    "基本措施": "强制隔离治疗"
}, {
    "等级": "国家级",
    "部门": "国务院",
    "基本措施": "疫情信息报告"
}];

//脑卒中_蓝色预警
data_b4 = [{
    "等级": "县级",
    "部门": "医疗保健机构",
    "基本措施": "卫生知识普及",
    "可选措施": "流行病学调查"
}, {
    "等级": "县级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "县级",
    "部门": "政府",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": "卫生知识普及",
    "可选措施": "流行病学调查"
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": "卫生知识普及",
    "可选措施": "流行病学调查"
}];

//脑卒中_黄色预警
data_b3 = [{
    "等级": "市级",
    "部门": "医疗保健机构",
    "基本措施":["医学观察","卫生知识普及","流行病学调查"]
}, {
    "等级": "市级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生防疫部门",
    "基本措施": "医学观察"
}, {
    "等级": "市级",
    "部门": "政府",
    "基本措施": "卫生知识普及"
}, {
    "等级": "市级",
    "部门": "卫生行政部门",
    "基本措施": ["卫生知识普及","流行病学调查"],
    "可选措施": "事件评估"
}, {
    "等级": "市级",
    "部门": "疾病预防控制机构",
    "基本措施": ["卫生知识普及","流行病学调查"]
}];

//脑卒中_橙色预警
data_b2 = [{
    "等级": "省级",
    "部门": "医疗保健机构",
    "基本措施": ["医学观察", "卫生知识普及", "流行病学调查"],
    "可选措施": "科研与国际交流"
}, {
    "等级": "省级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "省级",
    "部门": "卫生防疫部门",
    "基本措施": "医学观察"
}, {
    "等级": "省级",
    "部门": "政府",
    "基本措施": "卫生知识普及",
    "可选措施": "科研与国际交流"
}, {
    "等级": "省级",
    "部门": "卫生行政部门",
    "基本措施": ["卫生知识普及", "流行病学调查"],
    "可选措施": "事件评估"
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "基本措施": ["卫生知识普及", "流行病学调查"]
}, {
    "等级": "国家级",
    "部门": "国务院",
    "可选措施": "科研与国际交流"
}];

//脑卒中_红色预警
data_b1 = [{
    "等级": "省级",
    "部门": "医疗保健机构",
    "基本措施":"卫生知识普及",
    "可选措施": "科研与国际交流"
}, {
    "等级": "省级",
    "部门": "健康教育机构",
    "基本措施": "卫生知识普及"
}, {
    "等级": "省级",
    "部门": "政府",
    "基本措施": "卫生知识普及",
    "可选措施1": "疫情信息管理",
    "可选措施2": "科研与国际交流",
}, {
    "等级": "省级",
    "部门": "卫生行政部门",
    "基本措施1": "事件评估",
    "基本措施2": "制订技术标准和规范",
    "基本措施3": "卫生知识普及",
    "可选措施": "疫情信息管理"
}, {
    "等级": "省级",
    "部门": "疾病预防控制机构",
    "基本措施1": "制订技术标准和规范",
    "基本措施2": "卫生知识普及",
    "可选措施": "科研与国际交流"
}, {
    "等级": "国家级",
    "部门": "国务院",
    "可选措施": "科研与国际交流"
}];
    $(function() {
        $("#fishBone01").fishBone(data_h4);
        $("#fishBone02").fishBone(data_f4);
        $("#fishBone03").fishBone(data_b4);
    });
    
</script>
