
    <div class="container ">

        <h1> 临床决策支持系统 </h1>

        <form>

            <div class="form-group">
                <label>手机</label>
                <input type="text" class="form-control"  placeholder="请输入手机" ng-model="login.phoneno">
            </div>

            <div class="form-group">
                <label> 密码 </label> <a ng-click="toReset()" class="label-link">忘记密码</a>
                <input type="password" class="form-control"  placeholder="请输入密码" ng-model="login.password" ng-animate-children="">
            </div>
            <p > {{logStatus}} </p>
        </form>

        <div>
            <button type="submit" class="btn btn-success" ng-click="LogIn(login)" ng-disabled="disable">登录</button>
            <button class="btn btn-default" ng-click="toRegister()">注册</button>
        </div>

    </div>

