<div class="container-fluid" style="padding-right:0px;padding-left: 0px; ">
    <h1 style="margin-left: 20px; margin-top: 20px; position: absolute;">临床决策支持系统</h1>
    <ul id="mytabs" class="nav nav-tabs" style="font-size: 15px;">
        <div class=" col-md-3 ">
        </div>
        <div class=" col-md-3 ">
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
            <div class="form-group ">
                <h5>血压值：</h5>
            </div>
        </div>
    </ul>
    <div ui-view style="margin-top: 10px "></div>
</div>