<div class="container-fluid" style="padding-right:0px;padding-left: 0px; ">
    <h1 style="margin-left: 20px; margin-top: 20px; position: absolute;">临床决策支持系统</h1>
    <div style="margin-top: 10px" ng-show="ifpatient">
            <div class=" col-md-3 ">
        </div>
        <div class=" col-md-3 ">
            <div class="form-group ">
                <h5><b>患者姓名：</b>{{user.name}}</h5>
                <h5><b>创建时间：</b>{{user.time|negativeFix}}</h5>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group ">
                <h5><b>患者年龄：</b>{{user.age}}</h5>
                <h5><b>患者性别：</b>{{user.gender}}</h5>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="form-group ">
                <h5><b>已确诊疾病：</b>{{user.diseae|arraytostring}}</h5>
            </div>
        </div>
    </div>
    <ul id="mytabs" class="nav nav-tabs" style="font-size: 15px;height: 80px;padding-top: 35px;padding-right: 5px">

        <li class="navbar-right" style="margin-right:5px">

            <a id="drop_info" class="navbar-brand" style="height:43px" data-toggle="dropdown">
          <span style="font-size: 25px" class="glyphicon glyphicon-user"></span>
        </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop_info" style="min-width:220px">
                <li role="presentation">
                    <h4 style="margin-left:20px"><strong>个人信息</strong></h4>
                </li>
                <li role="presentation" class="divider"></li>
                <div style="padding-top:10px;padding-bottom: 15px">
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>用户名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>角色：</strong></span>{{Role}}
                    </li>
                </div>
                <li role="presentation" class="divider"></li>
                <div style="text-align: center;">
                    <!-- <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>用户名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>角色：</strong></span>{{Role}}
                    </li>  -->
                    <button type="button" class="btn btn-primary btn-sm" style="margin: 5px" ng-click="logout()">注销登录</button>
                    <button type="button" class="btn btn-default btn-sm" style="margin: 5px" ng-click="toMain()">返回主页</button>
                </div>
               
            </ul>
        </li>
    </ul>
    <div ui-view style="margin-top: 10px "></div>
</div>