<div class="container-fluid" style="padding-right:0px;padding-left: 0px; ">
    <h1 style="margin-left: 20px; margin-top: 20px; position: absolute;">临床决策支持系统</h1>
    <ul id="mytabs" class="nav nav-tabs" style="font-size: 15px;height: 80px;padding-top: 35px;padding-right: 40px">
        <!-- <div class=" col-md-3 ">
        </div>
        <div class=" col-md-3 ">
        </div>
        <div class="col-md-3 ">
        </div>
        <div class="col-md-3 ">
            <div class="form-group ">
                <h5>用户名：{{username}}</h5>
            </div>
        </div> -->
        <li class="navbar-right" style="margin-right:25px">
            <a id="drop_info" class="navbar-brand" style="height:43px" data-toggle="dropdown">
          <span style="font-size: 25px" class="glyphicon glyphicon-user"></span>
        </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop_info" style="min-width:220px">
                <li role="presentation">
                    <h4 style="margin-left:20px"><strong>个人信息</strong></h4>
                </li>
                <li role="presentation" class="divider"></li>
                <div style="padding-top:10px;padding-bottom: 15px">
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>用户名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>角色：</strong></span>{{Role}}
                    </li>
                </div>
                <li role="presentation" class="divider"></li>
                <div style="padding:10px;">
                    <!-- <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>用户名：</strong></span>{{UserName}}
                    </li>
                    <li role="presentation" style="line-height:30px">
                        <span style="margin-left:20px"><strong>角色：</strong></span>{{Role}}
                    </li>  -->
                    <button type="button" class="btn btn-default btn-sm">小的默认按钮</button>
                    <button type="button" class="btn btn-info btn-sm">小的信息按钮</button>
                </div>
               
            </ul>
        </li>
    </ul>
    <div ui-view style="margin-top: 10px "></div>
</div>