<div class="tab-pane fade in active" id="monitors">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1" role="navigation">
        <ul id="mypills2" class="nav nav-pills nav-stacked" style="text-align: center;font-size: 15px">
          <li><a href="#input" data-toggle="pill">输入</a></li>
          <li><a href="#output" data-toggle="pill">输出</a></li>
        </ul>
      </div>
      <div class="col-xs-10">
      	<div ui-view></div>
      </div>
    </div>  
  </div>
</div>
<script>
  $('#mypills2 a[href="#input"]').tab('show');
</script>
