<div class="tab-pane fade in active">
    
    <!-- <div style="margin-top: 50px;margin-left: 20%">
        <div class="col-md-4" >
            <div class="col-md-12 btn btn-warning text-center " style="text-decoration: none;background-color: #708090;border-color:#708090;min-height:170px" ng-click="toinput()" ><span style="font-size: 50px;padding-top: 25px" class="glyphicon glyphicon-upload"></span> <p style="font-size: 30px;padding-top: 5px" >创建用户</p></div>
        </div>
        <div class="col-md-4" >
            <div class="col-md-12 btn btn-warning text-center " style="text-decoration: none;background-color: #347ab6;border-color:#347ab6;min-height:170px "	ng-click="touserlist()"><span style="font-size: 50px;padding-top: 25px " class=" glyphicon glyphicon-user"></span> <p style="font-size: 30px;padding-top: 5px " >查看现有用户</p></div>
        </div>
    </div> -->
    <!-- 已有用户列表modal -->
   
    <table ng-table="scoredetail" class="table table-condensed table-bordered table-striped" style="margin-top: 10px;font-size:15px">
        <tr ng-repeat="c in userlist" style="text-align: center;">
            <td title="'患者姓名'">{{c.patientname}}
            </td>
            <td title="'患者id'">{{c.patientid}}
            </td>
            <td title="'操作'">
                <button class="btn btn-link" style="text-decoration:none; outline:none; padding:0px; border:0px;font-weight: bold; " ng-click="toUserDetail(c.patientid)">选择</button>
            </td>
        </tr>
    </table>
       
</div>
