
<div class="container">
    <h1 >设置新密码</h1>


        <form>

            <div class="form-group">
                <input type="password"  class="form-control" placeholder="旧密码" required autofocus ng-model="Input.password_old">
            </div>

            <div class="form-group">
                <input type="password"  class="form-control" placeholder="新密码" required autofocus ng-model="Input.password">

            </div>

            <div class="form-group">
                <input type="password"  class="form-control" placeholder="再次输入新密码" required ng-model="Input.password2">
            </div>

            <span >{{status}}</span>


        </form>
        <a type="button" class="btn btn-primary" ng-click="onClickConfirm(Input)">确定</a>
        <a type="button" class="btn btn-default" ng-click="back()">取消</a>

</div><!-- /container -->