
<div class="container">
    <div class="card card-container">
        <h1>身份认证 {{title}}</h1>

        <form>

            <div class="form-group">
                <label>验证手机</label>

                <input type="text" class="form-control"  placeholder="请输入手机号码" ng-model="telnumber">
            </div>

            <div class="form-group">
                <label> 验证码 </label> <p class="label-link"> {{check}}</p>
                <input type="text"  class="form-control" placeholder="请输入验证码" ng-model = 'validnumber'>
                <span class="input-group-addon" ng-click="SendMSM(telnumber)" ng-disabled="if_disabled"> {{validStatus}}  </span>
            </div>

        </form>

        <a class="btn btn-primary btn-primary" ng-click = validNext(telnumber)>下一步</a>
        <a class="btn btn-default" ng-click = onClickCancel()>取消</a>

    </div>
</div>

