
<div class="container">

    <h1 >设置新密码</h1>

    <form class="form-group">
        <label> 输入新密码 </label>
        <input type="password"  class="form-control" placeholder="新密码" required autofocus ng-model="Input.password">
        <label> 确认密码 </label> <p class="label-link">{{status}}</p>
        <input type="password"  class="form-control" placeholder="再次输入新密码" required ng-model="Input.password2">
    </form>

    <!--<form class="form-group">-->
        <!--<input type="password"  class="form-control" placeholder="新密码" required autofocus ng-model="Input.password">-->
        <!--<input type="password"  class="form-control" placeholder="再次输入新密码" required ng-model="Input.password2">-->
    <!--</form>-->

    <a type="button" class="btn btn-primary" ng-click="onClickConfirm(Input)">确定</a>
    <a type="button" class="btn btn-default" ng-click="onClickCancel()">取消</a>

</div><!-- /container -->