<div class="tab-pane fade in active" >


<div class="col-lg-10 col-lg-offset">
  

	<!--<h2>系统控制 {{status}}</h2>-->
	<p>{{status}}</p>

	<!--<div class ="track ">-->
		<!--<div class ="kurt ">-->
			<!--<div class ="loader ">-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<div class="bs-callout bs-callout-info">



		<button type="button" class="btn btn-default" ng-click="newSample()" data-toggle="modal" data-target="#myModal2">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"> 录入样品 </span>
		</button>


		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"> 建立任务 </span>
		</button>

		<!--<button type="button" class="btn btn-success" ng-click="getWorkflow()">任务列表</button>-->

		<button type="button" class="btn btn-default" ng-click="update()" >
			<span class="glyphicon glyphicon-repeat" aria-hidden="true"> 刷新 </span>
		</button>

		<!--<button type="button" class="btn btn-danger" ng-click="emergencyStop()" ng-if = "flag" style="float: right">紧急停止</button>-->
	</div>

	<!-- Modals -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >
						新建检测任务
					</h4>
				</div>
				<div class="modal-body">
					<li ng-repeat=" n in procedure ">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="insertTask($index)" >{{n}}</button>
					</li>

					<div class="modal-body">
						请选择待检测样品
						<div class="form-group" >
							<select ng-model = "selected.sample"class="form-control" >
								<option ng-repeat=" s in sampleList"> {{s.ObjectNo}} {{ s.sampleName}} {{s.supplier}}</option>
							</select>
						</div>

						选用试剂
						<div class="form-group">
							<select ng-model = "selected.reagent" class="form-control" >
								<option ng-repeat=" r in reagentList"> {{r.ReagentId}} {{r.ReagentName}}</option>
							</select>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<!--<button type="button" class="btn btn-primary" ng-click="ne">-->
						<!--提交-->
					<!--</button>-->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">
						录入新样品
					</h4>
				</div>
				<div class="modal-body">

					<div class="form-group" ng-repeat = " n in newSampleQuery.name track by $index" ng-if = newSampleQuery.select[$index]>
						<label class="control-label" > {{newSampleQuery.name[$index]}} </label>
						<input type="text" class="form-control" ng-model = newSampleQuery.value[$index]>
					</div>



					<!--<li ng-repeat=" n in procedure ">-->
						<!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="">{{n}}</button>-->
					<!--</li>-->
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>

					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click = "insertSample(newSampleQuery)">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

	<div class="modal fade" id="selectSnI" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >
						选择试剂和样品
					</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<select multiple class="form-control">
							<option>踢足球</option>
							<option>游泳</option>
							<option>踢足球</option>
							<option>游泳</option>
							<option>踢足球</option>
							<option>游泳</option>
							<option>踢足球</option>
							<option>游泳</option>
							<option>踢足球</option>
							<option>游泳</option>
							<option>踢足球</option>
							<option>游泳</option>
						</select>
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消
					</button>
					<!--<button type="button" class="btn btn-primary" ng-click="ne">-->
					<!--提交-->
					<!--</button>-->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!--end of Modals-->


	<div class = "row">
		<div class = "col-md-4 ">
			<div class = "row sample-panel list-panel">
				<div class =  "task-item" ng-repeat = "n in sampleList" >
					<p>产品编号： {{n.ObjectNo}}</p>
					<p>待检测样品： {{n.sampleName}}</p>
					<p>供应商： {{n.supplier}}</p>

					<!--<h3>{{ n.startTime}}  预计结束： {{ n.endTime}}</h3>-->
					<!--<div class = "glyphicon glyphicon-trash" ng-click = delete($index)> </div>-->
				</div>
			</div>

			<div class = "row sample-panel list-panel">
				<div class =  "task-item" ng-repeat = "n in reagentList" >
					<!--<h1>任务： {{n.taskName}}</h1>-->
					<p>试剂名字： {{n.ReagentName}}</p>
					<p>试剂编号： {{n.ReagentId}}</p>
					<p>{{ n.ExpiryDay.getMonth()+1 }}月{{ n.ExpiryDay.getDate()}}日  保质期到期 </p>
					<!--<div class = "glyphicon glyphicon-trash" ng-click = delete($index)> </div>-->
				</div>
			</div>
		</div>

		<div class = "col-md-6 col-md-offset-1 list-panel">
			<code ng-if = "taskList.length == 0 "> 暂时没有任务</code>
			<div class =  "task-item" ng-repeat = "n in taskList" >
				<p>任务： {{n.taskName}}</p>
				<p>样品： {{n.sample}}</p>
				<!--<p>{{n.ExpiryDay}}  预计结束： {{ n.endTime}}</p>-->
				<div class = "glyphicon glyphicon-trash icons" ng-click = delete($index)> </div>
			</div>
		</div>
	</div>



	<!--list of tasks-->
	<!--<div >-->

		<!--<div class =  "task-item" ng-repeat = "n in taskList" >-->
			<!--<h1>任务： {{n.taskName}}</h1>-->
			<!--<h2>样品： {{n.sample}}</h2>-->
			<!--<h3>{{n.startTime}}  预计结束： {{ n.endTime}}</h3>-->
			<!--<div class = "glyphicon glyphicon-trash" ng-click = delete($index)> </div>-->
		<!--</div>-->

	<!--</div>-->
	<!--end of list of tasks-->


</div>
<script>
	$(function () {
		$("#popover1").popover();
	});
</script>