<div class="tab-pane fade in active">
    <div class="col-lg-15 col-lg-offset-1">
        <!--<h2>实时监控 {{status}}</h2>-->
        <div class="row ">
            <p>{{status}}</p>
            <div class="col-md-3 env-panel">
                <h4> {{isolator1.name}} </h4>
                <div ng-repeat="n in isolator1.env_names">
                    <p ng-click="printcode(isolator.env_codes[$index],n)">{{n}} <code>{{isolator1.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in isolator1.instr_names">
                    <p>{{n}} <code>{{isolator1.instr_status[$index]}}</code></p>
                </div>
            </div>
            <div class="col-md-3 env-panel">
                <h4> {{isolator2.name}} </h4>
                <div ng-repeat="n in isolator2.env_names">
                    <p ng-click="printcode(isolator2.env_codes[$index],n)">{{n}} <code>{{isolator2.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in isolator2.instr_names">
                    <p>{{n}} <code>{{isolator2.instr_status[$index]}}</code></p>
                </div>
            </div>
            <div class="col-md-3 env-panel">
                <h4> {{isolator3.name}} </h4>
                <div ng-repeat="n in isolator3.env_names">
                    <p ng-click="printcode(isolator3.env_codes[$index],n)">{{n}} <code>{{isolator3.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in isolator3.instr_names">
                    <p>{{n}} <code>{{isolator3.instr_status[$index]}}</code></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 env-panel">
                <div id="main" style="height:500%;"></div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 env-panel">
                <h4> {{isolator4.name}} </h4>
                <div ng-repeat="n in isolator4.env_names">
                    <p ng-click="printcode(isolator4.env_codes[$index],n)">{{n}} <code>{{isolator4.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in isolator4.instr_names">
                    <p>{{n}} <code>{{isolator4.instr_status[$index]}}</code></p>
                </div>
            </div>
            <div class="col-md-3 env-panel">
                <h4> {{isolator5.name}} </h4>
                <div ng-repeat="n in isolator5.env_names">
                    <p ng-click="printcode(isolator5.env_codes[$index],n)">{{n}} <code>{{isolator5.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in isolator5.instr_names">
                    <p>{{n}} <code>{{isolator5.instr_status[$index]}}</code></p>
                </div>
            </div>
            <div class="col-md-3 env-panel">
                <h4> {{incubator.name}} </h4>
                <div ng-repeat="n in incubator.env_names">
                    <p ng-click="printcode(incubator.env_codes[$index],n)">{{n}} <code>{{incubator.env_status[$index]}}</code></p>
                </div>
                <div ng-repeat="n in incubator.instr_names">
                    <p>{{n}} <code>{{incubator.instr_status[$index]}}</code></p>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {
        $("#popover1").popover();
    });
    </script>