<!-- <div class="row">
    <div class="col-sm-6" id="examRec">
        <div class="myCard">
            <h3 class="card-title cardTitle">医学检查建议</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="col-sm-6" id="screenRec">
        <div class="myCard">
            <h3 class="card-title cardTitle">疾病筛查建议</h3>
            <div ng-repeat="screen in screens">
                <h5 class="label label-warning" style="font-size: 12px;margin-top: 10px;display: inline-block;">{{screen.ScreenRec}}</h5>
                <p>{{screen.interval}}</p>
                <ol style="margin-top: 10px" class="must">
                    <li ng-if="screen.LabExam">实验室检查：{{screen.LabExam}}</li>
                    <li ng-if="screen.PhyExam">物理检查：{{screen.PhyExam}}</li>
                    <li ng-if="screen.SpeExam">特殊检查：{{screen.SpeExam}}</li>
                </ol>
                <p class="card-text" style="text-indent: 2em;color:#337ab7;font-size: 12px" ng-if="screen.note!='-1'">{{screen.note}}</p>
                <ol style="color:#aaa" ng-if="screen.LabExamOp || screen.PhyExamOp||screen.SpeExamOp" class="optional">可选检查
                    <li ng-if="screen.LabExamOp">{{screen.LabExamOp}}</li>
                    <li ng-if="screen.PhyExamOp">{{screen.PhyExamOp}}</li>
                    <li ng-if="screen.SpeExamOp">{{screen.SpeExamOp}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
 -->