<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">饮食建议</h3>
            </div>
            <div class="panel-body">
                <h5 class="label label-success ng-binding">建议补充营养素：</h5>
                <p ng-repeat="DRec in dietrec.DRecName" style="margin-top: 10px;margin-left:10px">
                    {{DRec}}
                </p>
                <hr>
                <h5 class="label label-danger ng-binding">不建议补充营养素：</h5>
                <p ng-repeat="DUnRec in dietrec.DUnRecName" style="margin-top: 10px;margin-left:10px">
                    {{DUnRec}}
                </p>
                <hr>
                <h5 class="label label-warning ng-binding">需控制摄入的营养素：</h5>
                <p ng-repeat="DCtrl in dietrec.DCtrlName" style="margin-top: 10px;margin-left:10px">
                    {{DCtrl.ctrl}}，摄入上限：{{DCtrl.value}} {{DCtrl.unit}}
                </p>
                <hr>
                
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">运动建议</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="exerrec in exerreclist">
                    <ul style="margin-top: 10px；font-size: 20px;line-height:25px" class="must">
                        <li ng-if="exerrec.exername"><b>建议运动名称：</b>{{exerrec.exername}}</li>
                        <li ng-if="exerrec.exeritem"><b>建议运动项目：</b>{{exerrec.exeritem}}</li>
                        <li ng-if="exerrec.exertime"><b>建议运动时间：</b>{{exerrec.exertime}} {{exerrec.exerunit}}</li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">生理指标的控制目标</h3>
            </div>
            <div class="panel-body">
                <!-- <div ng-repeat="ctrl in ctrlgoal"> -->
                <ul style="margin-top: 10px；font-size: 20px;line-height:25px" class="must">
                    <li ng-if="ctrl.bmi"><b>BMI：</b>{{ctrl.bmi}}</li>
                    <li ng-if="ctrl.glu"><b>空腹血糖：</b>{{ctrl.glu}}</li>
                    <li ng-if="ctrl.glu2h"><b>糖耐受2小时后血糖：</b>{{ctrl.glu2h}}</li>
                    <li ng-if="ctrl.hba1c"><b>糖化血红蛋白：</b>{{ctrl.hba1c}}</li>
                    <li ng-if="ctrl.hdl"><b>高密度脂蛋白胆固醇：</b>{{ctrl.hdl}}</li>
                    <li ng-if="ctrl.ldl"><b>低密度脂蛋白胆固醇：</b>{{ctrl.ldl}}</li>
                    <li ng-if="ctrl.tc"><b>总胆固醇：</b>{{ctrl.tc}}</li>
                    <li ng-if="ctrl.tg"><b>甘油三酯：</b>{{ctrl.tg}}</li>
                    <li ng-if="ctrl.acr"><b>尿白蛋白/肌酐比值：</b>{{ctrl.acr}}</li>
                    <li ng-if="ctrl.uae"><b>尿白蛋白排泄率：</b>{{ctrl.uae}}</li>
                    <li ng-if="ctrl.sys"><b>收缩压：</b>{{ctrl.sys}}</li>
                    <li ng-if="ctrl.dia"><b>舒张压：</b>{{ctrl.dia}}</li>
                    <hr>
                </ul>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>