<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">糖尿病风险因素</h3>
            </div>
            <div class="panel-body">
                <div class="gridTex" ng-repeat="DiaName in risk.DiaName" style="margin-top: 10px;margin-left:10px">
                    {{DiaName}}
                </div>
                <p class="warning" ng-if="!risk.DiaName.length">暂无该风险因子</p>

                <hr>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">卒中风险因素</h3>
            </div>
            <div class="panel-body">
                <div class="gridTex"  ng-repeat="StrokeName in risk.StrokeName" style="margin-top: 10px;margin-left:10px">
                    {{StrokeName}}
                </div>
                <p class="warning" ng-if="!risk.StrokeName.length">暂无该风险因子</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">高血压风险因素</h3>
            </div>
            <div class="panel-body">
                <div class="gridTex"  ng-repeat="HypName in risk.HypName" style="margin-top: 10px;margin-left:10px">
                    {{HypName}}
                </div>
                <p class="warning" ng-if="!risk.HypName.length">暂无该风险因子</p>
                
                <hr>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">心血管疾病风险因素</h3>
            </div>
            <div class="panel-body">
                <div class="gridTex"  ng-repeat="CVDName in risk.CVDName" style="margin-top: 10px;margin-left:10px">
                    {{CVDName}}
                </div>
                <p class="warning" ng-if="!risk.CVDName.length">暂无该风险因子</p>

                <hr>
            </div>
        </div>
    </div>
</div>