<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2" style="text-align: center;font-size: 15px;margin-top: 10px;margin-left: 10px;width:auto;">
            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="检查建议" select="toinspection()"></uib-tab>
                <uib-tab index="1" heading="风险因子" select="torisk()"></uib-tab>
                <uib-tab index="2" heading="用药建议" select="tomedicine()"></uib-tab>
                <uib-tab index="3" heading="生活建议" select="tolife()"></uib-tab>
                <uib-tab index="4" heading="指标评估" select="toassess()"></uib-tab>
            </uib-tabset>
        </div>
        <div class="col-xs-10" style="margin-top:30px;">
            <div ui-view>
            </div>
        </div>
    </div>
</div>