
/* 37-Circular: */
.circular {
  background: #EBEBE9;
  background-image: linear-gradient(-70deg, rgba(255, 255, 255, 0.35) 3%, rgba(0, 0, 0, 0.35) 100%), radial-gradient(101% 97%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 98%);
  background-blend-mode: normal, normal, lighten; }

body {
  font: 100% Helvetica, sans-serif;
  color: var(--my-text);
  background-color: inherit; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.container {
  margin-top: 160px;
  margin-outside: 10dppx;
  text-align: center;
  margin-bottom: 10px;
  width: 500px;
  height: 500px;
  border-radius: 20px; }
  .container h1 {
    text-align: center; }
  .container img {
    text-align: center;
    width: 120px;
    height: 120px; }
  .container form {
    font-size: medium;
    border-color: #3c763d;
    border-top: inset;
    border-radius: 0px;
    text-align: left; }
    .container form .form-group {
      margin-top: 20px;
      margin-bottom: 20px; }
      .container form .form-group .form-control {
        margin-top: 5px;
        margin-bottom: 5px; }
    .container form .label-link {
      float: right; }
  .container .btn {
    width: 45%;
    margin: 1%; }
  .container .row-label {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-left-color: #3e8f3e;
    border-left-style: solid; }

.container-personal {
  margin-right: 500px;
  margin-top: 300px; }
  .container-personal h1 {
    text-align: left; }

.list-panel {
  border: dotted #cccccc;
  margin: 0.1%;
  box-shadow: inset #f8efc0;
  background-color: #f4f4f4;
  border-radius: 2%; }
  .list-panel p {
    color: #23527c;
    font-size: larger; }
    .list-panel p code {
      float: right;
      background-color: #afd9ee;
      color: #3c763d; }

.env-panel {
  border: dotted #cccccc;
  margin: 0.1%;
  box-shadow: inset #f8efc0;
  background-color: #f4f4f4;
  border-radius: 2%; }
  .env-panel h4 {
    font-size: x-large;
    color: #23527c;
    box-shadow: inset;
    font-style: normal; }
  .env-panel p {
    color: #3c3c3c;
    font-size: larger; }
    .env-panel p code {
      float: right;
      background-color: #b9def0;
      color: #3c763d; }

.task-item {
  box-shadow: inset #f8efc0;
  border-radius: 2%;
  border-bottom: solid #eeeeee;
  margin: 3%; }
  .task-item h1 {
    box-shadow: inset; }

.sample-panel {
  margin: 5%;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%; }

.track {
  width: 300px;
  height: 0px;
  border-top: 8px dotted #eee;
  display: inline-block; }

.kurt {
  animation: moveChomp 3s linear infinite;
  background: pink;
  width: 0px;
  height: 0px;
  position: relative;
  top: -15px; }

.loader {
  background: none;
  display: inline-block;
  position: relative; }
  .loader:before, .loader:after {
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    border: 30px solid orangered;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -34px;
    animation: topchomp 1s ease-in-out infinite reverse; }
  .loader:after {
    border-color: orangered;
    border-top-color: transparent;
    border-right-color: transparent;
    animation: bottomchomp 1s ease-in-out infinite; }

@keyframes bottomchomp {
  0%, 100% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-50deg); } }
@keyframes topchomp {
  0%, 100% {
    transform: rotate(-20deg); }
  50% {
    transform: rotate(37deg); } }
@keyframes moveChomp {
  0%, 100% {
    left: 0%; }
  50% {
    left: 100%; }
  0%, 49% {
    transform: rotateY(0deg); }
  50%, 100% {
    transform: rotateY(180deg); } }

/*# sourceMappingURL=mystyle.css.map */

div.myCard {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 600px;
  margin:0px;
  padding: 10px 12px 10px 12px
}
h3.cardTitle{
  color: #337ab7
}
h4.cardTitle{
  color: #337ab7;
  text-align: center;
}
h5.label{
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
ol.must>li{
  font-size: 12px;
  /*font-weight: bold*/
}
ol.optional>li{
  font-size: 12px
}
div.gridTex{
  font-size: 14px;
  line-height: 20px;
}
div.center{
  text-align: center;
}
p.patinfo {
  color: #aaa;
  font-size: 12px;
  margin-left: 5px
}
p.warning{
  font-size: 12px;
  color: #666
}
label{
  font-size: 15px;
}

select.create{
    margin-left: 15px;
    margin-right: 15px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
